vyr-north-star.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:annotation>
    <xs:documentation>
      Draft schema for vyr-north-star.xml.

      Current XML shape is intentionally minimal:
      - root element: vyr-north-star
      - one or more requirement elements
      - each requirement has required @id and plain text content

      This schema validates structure and basic constraints while leaving
      requirement vocabulary evolution to the XML source of truth.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="vyr-north-star">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requirement" type="RequirementType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <!-- Ensure requirement IDs are unique within the document -->
    <xs:unique name="uniqueRequirementId">
      <xs:selector xpath="requirement"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>

  <xs:complexType name="RequirementType" mixed="true">
    <xs:annotation>
      <xs:documentation>
        Requirement body is currently prose text (no nested child elements in the
        canonical XML). mixed=true keeps forward compatibility if inline markup is
        introduced later.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="id" type="RequirementIdType" use="required"/>
  </xs:complexType>

  <xs:simpleType name="RequirementIdType">
    <xs:annotation>
      <xs:documentation>
        Lowercase single-word English identifiers (e.g. "locality", "correctness").
        No hyphens or separators.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z]+"/>
      <xs:minLength value="2"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
